<div class="contacts-wrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center">
					Контакты
				</h2>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h4>
					ООО ПКФ "Восток-Сервис"<br />Коммерческий директор: Лукоянов Андрей Михайлович.<br />Моб.телефон: +7 9872907050
				</h4>
				<p>
					<strong>Адрес: </strong>РФ, Республика Татарстан, г. Казань, ул. Кулахметова, д 15 А
				</p>
				<p>
					<strong>E-mail: </strong><a href="#">vservis@bancorp.ru</a>
				</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<p>
					<strong>Телефон: </strong>+7(843)5550812 (многоканальный)<br /><strong>Телефон: </strong>+7(843)5574369<br /><strong>Телефон: </strong>+7(843)5574329<br /><strong>Факс: </strong>+7(843)5550812
				</p>
			</div>
			<div class="col-xs-12">
				<script charset="utf-8" src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=l7xWPgIg5Tb9on5E5VYAFj-s779FzKy3&height=450" type="text/javascript"></script>
			</div>
		</div>
	</div>
</div>
