<div class="cutting-wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">
          Резка рулонной продукции
        </h2>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
        <img class="text-center" src="img/dreamstime-1.jpg" />
      </div>
      <div class="col-xs-12">
        <h4>
          <strong>1. Резка различных видов бумаг:</strong>
        </h4>
        <ul>
          <li>
            офсетная - применяется для печати, в том числе художественных изданий, книг, периодических изданий; изготавливается офсетным способом (перенос краски на материал осуществляется не напрямую);
          </li>
          <li>
            крафт-бумага - особо прочная оберточная бумага, используемая для упаковки посылок, книг, некрупных предметов интерьера;
          </li>
          <li>
            фильтровальная - применяется для фильтрации воды, масел и других веществ, содержащих различные примеси;
          </li>
          <li>
            бумага для высокохудожественных изделий (ВХИ) - используется для печати журналов, книг, топографических карт шестью или более красками;
          </li>
          <li>
            силиконизированная - бумага с силиконовым покрытием, служащая для защиты поверхности материала от самопроизвольного приклеивания;
          </li>
          <li>
            крепированная (креп-бумага) - гофрированная бумага, применяемая для упаковки цветов и подарков;
          </li>
          <li>
            самоклеящаяся бумага - предназначена для различных этикеток, ценников, плакатов, декоративных работ.
          </li>
        </ul>
        <h4>
          <strong>2. Резка различных видов пленок:</strong>
        </h4>
        <ul>
          <li>
            BOPP (БОПП), или биаксиально-ориентированная полипропиленовая пленка, - один из наиболее востребованных видов упаковочной пленки для гибкой упаковки, отличается высокой термостойкостью, прочностью, гибкостью;
          </li>
          <li>
            PET (ПЭТ) - пленка, ламинированная полиэтиленом, применяется для изоляции электропроводящих материалов, производства упаковки, служит основой для упаковочных материалов;
          </li>
          <li>
            CPP (каст-пленка) - один из основных упаковочных материалов для хлебобулочных изделий, защищая их от образования влаги. бактерицидного заражения;
          </li>
          <li>
            PVC (ПВХ) - термоусадочная пленка, производимая из полихлорвинила, применяемая для упаковки маловесных и небольших по размеру изделий.
          </li>
        </ul>
        <h4>
          <strong>3. Резка комбинированных материалов, в состав которых входят материалы различного типа (бумага, картон, фольга, искусственные материалы).</strong>
        </h4>
        <h4>
          <strong>4. Резка нетканого полотна, изготовленного из одного или нескольких видов текстильных материалов со скрепленной текстурой элементов.</strong>
        </h4>
      </div>
    </div>
  </div>
</div>